@use 'variaveis';

.footer {

    &__container {
        background: linear-gradient(to bottom, variaveis.$rosaFraco, variaveis.$rosaForte);

        &__grid {
            display: grid;
            grid-template-columns: repeat(2, 1fr);
            align-items: center;

            &__item {
                

                img {
                    width: 200px;
                }

                p {

                }

                & a {
                    text-decoration: none;

                    & img {
                        width: 30px;
                    }
                }
            }
        }
    }
}