@use 'variaveis';

.espaco-kids {

    
    &__container {
        padding: 44px 0px;
        background: linear-gradient(to bottom, variaveis.$cianoForte, variaveis.$cianoFraco);

        h2 {
            font-family: variaveis.$fonteDosTitulos;
            color: variaveis.$rosaForte;
            font-size: 5em;
            text-align: center;
        }
        
        &__item {
            display: flex;
            align-items: center;
            justify-content: space-around;
            gap: 20px;
            width: 90%;
            margin: 0px auto;

            p {
                text-indent: 18px;
                font-size: 1.4em;
                font-weight: bold;
                padding: 12px;
            }

            img {
                width: 400px;
                border-radius: 9px;
            }
        }
    }
}