// Variaveis de cores
$rosaForte: #D96C89;
$rosaMedio: #F285B8;
$rosaFraco: #fac0dc;
$cianoForte: #64C2DB;
$cianoFraco: #aef5fd;
$backGroundColorHeader1: #592C1C;
$backGroundColorHeader2: #9b5b43;

//Variaveis de fontes
$fonteDosTitulos: "Fredoka", sans-serif;